/*
      #1f2936
      #8fda00
      #FFCD00
      */
@page {
  margin: 0cm 0cm;
  font-family: 'comic Sans Ms';
}

/* body {
      background-image: url('{{ env('APP_URL') }}/images/certificados/fondo-certificado.jpg') !important;
      background-size: 98% auto !important;
      margin: 0.1cm 0.1cm 0.1cm 0.1cm;
      background-repeat: no-repeat !important;
    } */
header {
  position: fixed;
  top: 0cm;
  left: 0cm;
  right: 0cm;
  height: 2cm;
  background-color: rgba(31, 41, 54, 1);
  color: #000;
  text-align: center;
  line-height: 30px;
  flex-wrap: wrap;
}

.t1 {
  font-size: 24px;
  font-family: 'monospace;

}

.t2 {
  font-size: 20px;
}

.t3 {
  font-size: 18px;
}

.green-right {
  color: #8fda00;
  background-color: #8fda00 !important;
  -moz-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  -webkit-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  -o-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  -ms-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  transform: scale(2.5) rotate(42deg) translate(50px, -80px) skew(-21deg, -20deg);
}

.yellow-right {
  z-index: -1 !important;
  color: #FFCD00;
  background-color: #FFCD00 !important;
  -moz-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  -webkit-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  -o-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  -ms-transform: scale(2.5) rotate(42deg) translate(50px, -50px) skew(-21deg, -20deg);
  transform: scale(2.5) rotate(42deg) translate(50px, -70px) skew(-21deg, -20deg);
}

footer {
  position: fixed;
  bottom: 0cm;
  left: 0cm;
  right: 0cm;
  height: 1.5cm;
  background-color: #1f2936;
  color: #8fda00;
  text-align: center;
  line-height: 35px;
}

.div-img {
  display: block;
  justify-content: left;
  margin: 0 auto;
}

main {
  background-color: #ffffff !important;
  z-index: 3 !important;
  margin-top: 2cm !important;
}

.firma-left {
  width: 250px;
  height: 100px;
  /* background-color: rgb(215, 230, 10); */
  float: left;
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-bottom: 2.5cm !important;
}

.firma-right {
  width: 250px;
  height: 100px;
  /* background-color: rgb(24, 20, 238); */
  float: right;
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-bottom: 2.5cm !important;
}